* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .zsa-wrapper {
    width: 50%;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }

    &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      width: 33%;
    }
  }
}

.post {
  padding: 8px;
  border-color: bisque;
  border: 1px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;
}

.pagination__item {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.pagination__item--active {
  font-weight: 800;
  color: red;

}

.img {
  width: 33px;
  height: 33px;
}
